{
  "x-generator": "NSwag v14.6.2.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Helldivers 2",
    "description": "Helldivers 2 Unofficial API",
    "version": "1.0.0.0"
  },
  "paths": {
    "/": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "operationId": "Get",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/raw/api/WarSeason/current/WarID": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "raw"
        ],
        "summary": "Returns the currently active war season ID.",
        "operationId": "GetRawApiWarSeasonCurrentWarID",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarId"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/raw/api/WarSeason/801/Status": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "raw"
        ],
        "summary": "Get a snapshot of the current war status.",
        "operationId": "GetRawApiWarSeason801Status",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarStatus"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/raw/api/WarSeason/801/WarInfo": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "raw"
        ],
        "summary": "Gets the current war info.",
        "operationId": "GetRawApiWarSeason801WarInfo",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/raw/api/Stats/war/801/summary": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "raw"
        ],
        "summary": "Gets the current war info.",
        "operationId": "GetRawApiStatsWar801Summary",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarSummary"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/raw/api/NewsFeed/801": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "raw"
        ],
        "summary": "Retrieves a list of news messages from Super Earth.",
        "operationId": "GetRawApiNewsFeed801",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NewsFeedItem"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/raw/api/v2/Assignment/War/801": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "raw"
        ],
        "summary": "Retrieves a list of currently active assignments (like Major Orders).",
        "operationId": "GetRawApiV2AssignmentWar801",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Assignment"
                  }
                }
              }
            }
          },
          "503": {
            "description": ""
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/raw/api/v2/SpaceStation/War/801/{index}": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "raw"
        ],
        "summary": "Fetches THE specific SpaceStation (749875195).",
        "operationId": "GetRawApiV2SpaceStationWar801",
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Assignment"
                  }
                }
              }
            }
          },
          "503": {
            "description": ""
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v1/war": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Gets the current War state.",
        "operationId": "GetApiV1War",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/War"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v1/assignments": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Fetches a list of all available Assignment information available.",
        "operationId": "GetApiV1AssignmentsAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Assignment2"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v1/assignments/{index}": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Fetches a specific Assignment identified by index.",
        "operationId": "GetApiV1Assignments",
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assignment2"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v1/campaigns": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Fetches a list of all available Campaign information available.",
        "operationId": "GetApiV1CampaignsAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign2"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v1/campaigns/{index}": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Fetches a specific Campaign identified by index.",
        "operationId": "GetApiV1Campaigns",
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign2"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v1/dispatches": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Fetches a list of all available Dispatch information available.",
        "operationId": "GetApiV1DispatchesAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dispatch"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v1/dispatches/{index}": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Fetches a specific Dispatch identified by index.",
        "operationId": "GetApiV1Dispatches",
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v1/planets": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Fetches a list of all available Planet information available.",
        "operationId": "GetApiV1PlanetsAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Planet"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v1/planets/{index}": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Fetches a specific Planet identified by index.",
        "operationId": "GetApiV1Planets",
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planet"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v1/planet-events": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Fetches all planets with an active Event.",
        "operationId": "GetApiV1PlanetEvents",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Planet"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v1/steam": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Fetches the Steam newsfeed for Helldivers 2.",
        "description": "You can definitely get this yourself, however it's included for your convenience!",
        "operationId": "GetApiV1Steam",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SteamNews"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v1/steam/{gid}": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Fetches a specific newsfeed item from the Helldivers 2 Steam newsfeed.",
        "description": "You can definitely get this yourself, however it's included for your convenience!",
        "operationId": "GetApiV1Steam2",
        "parameters": [
          {
            "name": "gid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "404": {
            "description": "Returned when the key is not recognized."
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SteamNews"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v2/dispatches": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Fetches a list of all available Dispatch information available.",
        "operationId": "GetApiV2DispatchesAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dispatch2"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v2/dispatches/{index}": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Fetches a specific Dispatch identified by index.",
        "operationId": "GetApiV2Dispatches",
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch2"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v2/space-stations": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Fetches a list of all available SpaceStation information available.",
        "operationId": "GetApiV2SpaceStationsAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpaceStation"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    },
    "/api/v2/space-stations/{index}": {
      "servers": [
        {
          "url": "https://api.helldivers2.dev/",
          "description": "The dotnet helldivers server"
        }
      ],
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Fetches a specific SpaceStation identified by index.",
        "operationId": "GetApiV2SpaceStations",
        "parameters": [
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceStation"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-Super-Client": [],
            "X-Super-Contact": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "WarId": {
        "type": "object",
        "description": "Represents the ID returned from the WarID endpoint.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "WarStatus": {
        "type": "object",
        "description": "Represents a snapshot of the current status of the galactic war.",
        "additionalProperties": false,
        "properties": {
          "warId": {
            "type": "integer",
            "description": "The war season this snapshot refers to.",
            "format": "int32"
          },
          "time": {
            "type": "integer",
            "description": "The time this snapshot was taken.",
            "format": "int64"
          },
          "impactMultiplier": {
            "type": "number",
            "description": "This is the factor by which influence at the end of a mission is multiplied to calculate the impact on liberation",
            "format": "double"
          },
          "storyBeatId32": {
            "type": "integer",
            "description": "Internal identifier, purpose unknown.",
            "format": "int64"
          },
          "planetStatus": {
            "type": "array",
            "description": "A list of statuses for planets.",
            "items": {
              "$ref": "#/components/schemas/PlanetStatus"
            }
          },
          "planetAttacks": {
            "type": "array",
            "description": "A list of attacks currently ongoing.",
            "items": {
              "$ref": "#/components/schemas/PlanetAttack"
            }
          },
          "campaigns": {
            "type": "array",
            "description": "A list of ongoing campaigns in the galactic war.",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          },
          "jointOperations": {
            "type": "array",
            "description": "A list of JointOperations.",
            "items": {
              "$ref": "#/components/schemas/JointOperation"
            }
          },
          "planetEvents": {
            "type": "array",
            "description": "A list of ongoing PlanetEvents.",
            "items": {
              "$ref": "#/components/schemas/PlanetEvent"
            }
          },
          "planetRegions": {
            "type": "array",
            "description": "The regions that have a status.",
            "items": {
              "$ref": "#/components/schemas/PlanetRegionStatus"
            }
          }
        }
      },
      "PlanetStatus": {
        "type": "object",
        "description": "Represents the 'current' status of a planet in the galactic war.",
        "additionalProperties": false,
        "properties": {
          "index": {
            "type": "integer",
            "description": "The identifier of the PlanetInfo this status refers to.",
            "format": "int32"
          },
          "owner": {
            "type": "integer",
            "description": "The faction currently owning the planet.",
            "format": "int32"
          },
          "health": {
            "type": "integer",
            "description": "The current health / liberation of a planet.",
            "format": "int64"
          },
          "regenPerSecond": {
            "type": "number",
            "description": "If left alone, how much the health of the planet would regenerate.",
            "format": "double"
          },
          "players": {
            "type": "integer",
            "description": "The amount of helldivers currently active on this planet.",
            "format": "uint64"
          }
        }
      },
      "PlanetAttack": {
        "type": "object",
        "description": "Represents an attack on a PlanetInfo.",
        "additionalProperties": false,
        "properties": {
          "source": {
            "type": "integer",
            "description": "Where the attack originates from.",
            "format": "int32"
          },
          "target": {
            "type": "integer",
            "description": "The planet under attack.",
            "format": "int32"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "description": "Contains information of ongoing campaigns.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "description": "The identifier of this campaign.",
            "format": "int32"
          },
          "planetIndex": {
            "type": "integer",
            "description": "The Index of the planet this campaign refers to.",
            "format": "int32"
          },
          "type": {
            "type": "integer",
            "description": "A numerical type, indicates the type of campaign (see helldivers-2/json).",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "description": "A numerical count, the amount of campaigns the planet has seen.",
            "format": "uint64"
          },
          "race": {
            "type": "integer",
            "description": "A numerical race, the race of the planet this campaign refers to.",
            "format": "int32"
          }
        }
      },
      "JointOperation": {
        "type": "object",
        "description": "Represents a joint operation.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "planetIndex": {
            "type": "integer",
            "format": "int32"
          },
          "hqNodeIndex": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PlanetEvent": {
        "type": "object",
        "description": "An ongoing event on a planet.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of this event.",
            "format": "int32"
          },
          "planetIndex": {
            "type": "integer",
            "description": "The index of the planet.",
            "format": "int32"
          },
          "eventType": {
            "type": "integer",
            "description": "A numerical identifier that indicates what type of event this is.",
            "format": "int32"
          },
          "race": {
            "type": "integer",
            "description": "The identifier of the faction that owns the planet currently.",
            "format": "int32"
          },
          "health": {
            "type": "integer",
            "description": "The current health of the event.",
            "format": "int64"
          },
          "maxHealth": {
            "type": "integer",
            "description": "The current maximum health of the event.",
            "format": "int64"
          },
          "startTime": {
            "type": "integer",
            "description": "When this event started.",
            "format": "int64"
          },
          "expireTime": {
            "type": "integer",
            "description": "When the event will end.",
            "format": "int64"
          },
          "campaignId": {
            "type": "integer",
            "description": "The unique identifier of a related campaign.",
            "format": "int32"
          },
          "jointOperationIds": {
            "type": "array",
            "description": "A list of identifiers of related joint operations.",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "PlanetRegionStatus": {
        "type": "object",
        "description": "Represents the 'current' status of a planet's region in the galactic war.",
        "additionalProperties": false,
        "properties": {
          "planetIndex": {
            "type": "integer",
            "description": "The identifier of the PlanetInfo this region is on.",
            "format": "int32"
          },
          "regionIndex": {
            "type": "integer",
            "description": "The identifier of the PlanetRegion this data refers to.",
            "format": "int32"
          },
          "owner": {
            "type": "integer",
            "description": "The current faction that controls the region.",
            "format": "int32"
          },
          "health": {
            "type": "integer",
            "description": "The current health / liberation of the region.",
            "format": "int64"
          },
          "regerPerSecond": {
            "type": "number",
            "description": "If left alone, how much the health of the region would regenerate.",
            "format": "double"
          },
          "availabilityFactor": {
            "type": "number",
            "description": "Unknown purpose.",
            "format": "double"
          },
          "isAvailable": {
            "type": "boolean",
            "description": "Whether this region is currently available to play on(?)."
          },
          "players": {
            "type": "integer",
            "description": "The amount of helldivers currently active on this planet.",
            "format": "int64"
          }
        }
      },
      "WarInfo": {
        "type": "object",
        "description": "Represents mostly static information of the current galactic war.",
        "additionalProperties": false,
        "properties": {
          "warId": {
            "type": "integer",
            "description": "The identifier of the war season this WarInfo represents.",
            "format": "int32"
          },
          "startDate": {
            "type": "integer",
            "description": "A unix timestamp (in seconds) when this season started.",
            "format": "int64"
          },
          "endDate": {
            "type": "integer",
            "description": "A unix timestamp (in seconds) when this season will end.",
            "format": "int64"
          },
          "minimumClientVersion": {
            "type": "string",
            "description": "A version string indicating the minimum game client version the API supports."
          },
          "planetInfos": {
            "type": "array",
            "description": "A list of planets involved in this season's war.",
            "items": {
              "$ref": "#/components/schemas/PlanetInfo"
            }
          },
          "homeWorlds": {
            "type": "array",
            "description": "A list of homeworlds for the races (factions) involved in this war.",
            "items": {
              "$ref": "#/components/schemas/HomeWorld"
            }
          },
          "planetRegions": {
            "type": "array",
            "description": "The regions that can be found on this planet.",
            "items": {
              "$ref": "#/components/schemas/PlanetRegion"
            }
          }
        }
      },
      "PlanetInfo": {
        "type": "object",
        "description": "Represents information of a planet from the 'WarInfo' endpoint returned by ArrowHead's API.",
        "additionalProperties": false,
        "properties": {
          "index": {
            "type": "integer",
            "description": "The numerical identifier for this planet, used as reference by other properties throughout the API (like Waypoints).",
            "format": "int32"
          },
          "settingsHash": {
            "type": "integer",
            "description": "Purpose unknown at this time.",
            "format": "int64"
          },
          "position": {
            "description": "A set of X/Y coordinates specifying the position of this planet on the galaxy map.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/PlanetCoordinates"
              }
            ]
          },
          "waypoints": {
            "type": "array",
            "description": "A list of links to other planets (supply lines).",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "sector": {
            "type": "integer",
            "description": "The identifier of the sector this planet is located in.",
            "format": "int32"
          },
          "maxHealth": {
            "type": "integer",
            "description": "The 'health' of this planet, indicates how much liberation it needs to switch sides.",
            "format": "int64"
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether this planet is currently considered active in the galactic war."
          },
          "initialOwner": {
            "type": "integer",
            "description": "The identifier of the faction that initially owned this planet.",
            "format": "int32"
          }
        }
      },
      "PlanetCoordinates": {
        "type": "object",
        "description": "Represents a set of coordinates returned by ArrowHead's API.",
        "additionalProperties": false,
        "properties": {
          "x": {
            "type": "number",
            "description": "The X coordinate",
            "format": "double"
          },
          "y": {
            "type": "number",
            "description": "The Y coordinate",
            "format": "double"
          }
        }
      },
      "HomeWorld": {
        "type": "object",
        "description": "Represents information about the homeworld(s) of a given race.",
        "additionalProperties": false,
        "properties": {
          "race": {
            "type": "integer",
            "description": "The identifier of the race (faction) this describes the homeworld of.",
            "format": "int32"
          },
          "planetIndices": {
            "type": "array",
            "description": "A list of Index identifiers.",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "PlanetRegion": {
        "type": "object",
        "description": "A region of a planet, containing information about its health and size.",
        "additionalProperties": false,
        "properties": {
          "planetIndex": {
            "type": "integer",
            "description": "The index of the region's planet",
            "format": "int32"
          },
          "regionIndex": {
            "type": "integer",
            "description": "The index of the region",
            "format": "int32"
          },
          "settingsHash": {
            "type": "integer",
            "description": "The ID that identifies the region in the JSON files.",
            "format": "uint64"
          },
          "maxHealth": {
            "type": "integer",
            "description": "The maximum health of this region.",
            "format": "uint64"
          },
          "regionSize": {
            "type": "integer",
            "description": "The size of the region.",
            "format": "int32"
          }
        }
      },
      "WarSummary": {
        "type": "object",
        "description": "Gets general statistics about the galaxy and specific planets.",
        "additionalProperties": false,
        "properties": {
          "galaxy_stats": {
            "description": "Contains galaxy wide statistics aggregated from all planets.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/GalaxyStats"
              }
            ]
          },
          "planets_stats": {
            "type": "array",
            "description": "Contains statistics for specific planets.",
            "items": {
              "$ref": "#/components/schemas/PlanetStats"
            }
          }
        }
      },
      "GalaxyStats": {
        "type": "object",
        "description": "Represents galaxy wide statistics.",
        "additionalProperties": false,
        "properties": {
          "missionsWon": {
            "type": "integer",
            "description": "The amount of missions won.",
            "format": "uint64"
          },
          "missionsLost": {
            "type": "integer",
            "description": "The amount of missions lost.",
            "format": "uint64"
          },
          "missionTime": {
            "type": "integer",
            "description": "The total amount of time spent planetside (in seconds).",
            "format": "uint64"
          },
          "bugKills": {
            "type": "integer",
            "description": "The total amount of bugs killed since start of the season.",
            "format": "uint64"
          },
          "automatonKills": {
            "type": "integer",
            "description": "The total amount of automatons killed since start of the season.",
            "format": "uint64"
          },
          "illuminateKills": {
            "type": "integer",
            "description": "The total amount of Illuminate killed since start of the season.",
            "format": "uint64"
          },
          "bulletsFired": {
            "type": "integer",
            "description": "The total amount of bullets fired",
            "format": "uint64"
          },
          "bulletsHit": {
            "type": "integer",
            "description": "The total amount of bullets hit",
            "format": "uint64"
          },
          "timePlayed": {
            "type": "integer",
            "description": "The total amount of time played (including off-planet) in seconds.",
            "format": "uint64"
          },
          "deaths": {
            "type": "integer",
            "description": "The amount of casualties on the side of humanity.",
            "format": "uint64"
          },
          "revives": {
            "type": "integer",
            "description": "The amount of revives(?).",
            "format": "uint64"
          },
          "friendlies": {
            "type": "integer",
            "description": "The amount of friendly fire casualties.",
            "format": "uint64"
          },
          "missionSuccessRate": {
            "type": "integer",
            "description": "A percentage indicating how many started missions end in success.",
            "format": "uint64"
          },
          "accurracy": {
            "type": "integer",
            "description": "A percentage indicating average accuracy of Helldivers.",
            "format": "uint64"
          }
        }
      },
      "PlanetStats": {
        "type": "object",
        "description": "Similar to GalaxyStats, but scoped to a specific planet.",
        "additionalProperties": false,
        "properties": {
          "planetIndex": {
            "type": "integer",
            "description": "The Index for which planet these stats are.",
            "format": "int32"
          },
          "missionsWon": {
            "type": "integer",
            "description": "The amount of missions won.",
            "format": "uint64"
          },
          "missionsLost": {
            "type": "integer",
            "description": "The amount of missions lost.",
            "format": "uint64"
          },
          "missionTime": {
            "type": "integer",
            "description": "The total amount of time spent planetside (in seconds).",
            "format": "uint64"
          },
          "bugKills": {
            "type": "integer",
            "description": "The total amount of bugs killed since start of the season.",
            "format": "uint64"
          },
          "automatonKills": {
            "type": "integer",
            "description": "The total amount of automatons killed since start of the season.",
            "format": "uint64"
          },
          "illuminateKills": {
            "type": "integer",
            "description": "The total amount of Illuminate killed since start of the season.",
            "format": "uint64"
          },
          "bulletsFired": {
            "type": "integer",
            "description": "The total amount of bullets fired",
            "format": "uint64"
          },
          "bulletsHit": {
            "type": "integer",
            "description": "The total amount of bullets hit",
            "format": "uint64"
          },
          "timePlayed": {
            "type": "integer",
            "description": "The total amount of time played (including off-planet) in seconds.",
            "format": "uint64"
          },
          "deaths": {
            "type": "integer",
            "description": "The amount of casualties on the side of humanity.",
            "format": "uint64"
          },
          "revives": {
            "type": "integer",
            "description": "The amount of revives(?).",
            "format": "uint64"
          },
          "friendlies": {
            "type": "integer",
            "description": "The amount of friendly fire casualties.",
            "format": "uint64"
          },
          "missionSuccessRate": {
            "type": "integer",
            "description": "A percentage indicating how many started missions end in success.",
            "format": "uint64"
          },
          "accurracy": {
            "type": "integer",
            "description": "A percentage indicating average accuracy of Helldivers.",
            "format": "uint64"
          }
        }
      },
      "NewsFeedItem": {
        "type": "object",
        "description": "Represents an item in the newsfeed of Super Earth.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "description": "The identifier of this newsfeed item.",
            "format": "int32"
          },
          "published": {
            "type": "integer",
            "description": "A unix timestamp (in seconds) when this item was published.",
            "format": "int64"
          },
          "type": {
            "type": "integer",
            "description": "A numerical type, purpose unknown.",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": "The message containing a human readable text."
          }
        }
      },
      "Assignment": {
        "type": "object",
        "description": "Represents an assignment given from Super Earth to the Helldivers.",
        "additionalProperties": false,
        "properties": {
          "id32": {
            "type": "integer",
            "description": "Internal identifier of this assignment.",
            "format": "int64"
          },
          "progress": {
            "type": "array",
            "description": "A list of numbers, how they represent progress is unknown.",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "expiresIn": {
            "type": "integer",
            "description": "The amount of seconds until this assignment expires.",
            "format": "int64"
          },
          "setting": {
            "description": "Contains detailed information on this assignment like briefing, rewards, ...",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Setting"
              }
            ]
          }
        }
      },
      "Setting": {
        "type": "object",
        "description": "Contains the details of an Assignment like reward and requirements.",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "integer",
            "description": "The type of assignment, values unknown at the moment.",
            "format": "int32"
          },
          "overrideTitle": {
            "type": "string",
            "description": "The title of this assignment."
          },
          "overrideBrief": {
            "type": "string",
            "description": "The briefing (description) of this assignment."
          },
          "taskDescription": {
            "type": "string",
            "description": "A description of what is expected of Helldivers to complete the assignment."
          },
          "tasks": {
            "type": "array",
            "description": "A list of Tasks describing the assignment requirements.",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "reward": {
            "description": "Contains information on the reward players will receive upon completion.",
            "nullable": true,
            "anyOf": [
              {
                "$ref": "#/components/schemas/Reward"
              }
            ]
          },
          "rewards": {
            "type": "array",
            "description": "Contains information on the rewards players will receive upon completion.",
            "items": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Reward"
                }
              ]
            }
          },
          "flags": {
            "type": "integer",
            "description": "Flags, suspected to be a binary OR'd value, purpose unknown.",
            "format": "int32"
          }
        }
      },
      "Task": {
        "type": "object",
        "description": "Represents a task in an Assignment.\nIt's exact values are not known, therefore little of it's purpose is clear.",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "integer",
            "description": "A numerical value, purpose unknown.",
            "format": "int32"
          },
          "values": {
            "type": "array",
            "description": "A list of numerical values, purpose unknown.",
            "items": {
              "type": "integer",
              "format": "uint64"
            }
          },
          "valueTypes": {
            "type": "array",
            "description": "A list of numerical values, purpose unknown.",
            "items": {
              "type": "integer",
              "format": "uint64"
            }
          }
        }
      },
      "Reward": {
        "type": "object",
        "description": "Represents the reward of an Assignment.",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "integer",
            "description": "The type of reward, currently only one value is known: 1 which represents Medals",
            "format": "int32"
          },
          "id32": {
            "type": "integer",
            "description": "Internal identifier of this Reward.",
            "format": "uint64"
          },
          "amount": {
            "type": "integer",
            "description": "The amount of Type the players will receive upon completion.",
            "format": "uint64"
          }
        }
      },
      "War": {
        "type": "object",
        "description": "Global information of the ongoing war.",
        "additionalProperties": false,
        "properties": {
          "started": {
            "type": "string",
            "description": "When this war was started.",
            "format": "date-time"
          },
          "ended": {
            "type": "string",
            "description": "When this war will end (or has ended).",
            "format": "date-time"
          },
          "now": {
            "type": "string",
            "description": "The time the snapshot of the war was taken, also doubles as the timestamp of which all other data dates from.",
            "format": "date-time"
          },
          "clientVersion": {
            "type": "string",
            "description": "The minimum game client version required to play in this war."
          },
          "factions": {
            "type": "array",
            "description": "A list of factions currently involved in the war.",
            "items": {
              "type": "string"
            }
          },
          "impactMultiplier": {
            "type": "number",
            "description": "A fraction used to calculate the impact of a mission on the war effort.",
            "format": "double"
          },
          "statistics": {
            "description": "The statistics available for the galaxy wide war effort.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Statistics"
              }
            ]
          }
        }
      },
      "Statistics": {
        "type": "object",
        "description": "Contains statistics of missions, kills, success rate etc.",
        "additionalProperties": false,
        "properties": {
          "missionsWon": {
            "type": "integer",
            "description": "The amount of missions won.",
            "format": "uint64"
          },
          "missionsLost": {
            "type": "integer",
            "description": "The amount of missions lost.",
            "format": "uint64"
          },
          "missionTime": {
            "type": "integer",
            "description": "The total amount of time spent planetside (in seconds).",
            "format": "uint64"
          },
          "terminidKills": {
            "type": "integer",
            "description": "The total amount of bugs killed since start of the season.",
            "format": "uint64"
          },
          "automatonKills": {
            "type": "integer",
            "description": "The total amount of automatons killed since start of the season.",
            "format": "uint64"
          },
          "illuminateKills": {
            "type": "integer",
            "description": "The total amount of Illuminate killed since start of the season.",
            "format": "uint64"
          },
          "bulletsFired": {
            "type": "integer",
            "description": "The total amount of bullets fired",
            "format": "uint64"
          },
          "bulletsHit": {
            "type": "integer",
            "description": "The total amount of bullets hit",
            "format": "uint64"
          },
          "timePlayed": {
            "type": "integer",
            "description": "The total amount of time played (including off-planet) in seconds.",
            "format": "uint64"
          },
          "deaths": {
            "type": "integer",
            "description": "The amount of casualties on the side of humanity.",
            "format": "uint64"
          },
          "revives": {
            "type": "integer",
            "description": "The amount of revives(?).",
            "format": "uint64"
          },
          "friendlies": {
            "type": "integer",
            "description": "The amount of friendly fire casualties.",
            "format": "uint64"
          },
          "missionSuccessRate": {
            "type": "integer",
            "description": "A percentage indicating how many started missions end in success.",
            "format": "uint64"
          },
          "accuracy": {
            "type": "integer",
            "description": "A percentage indicating average accuracy of Helldivers.",
            "format": "uint64"
          },
          "playerCount": {
            "type": "integer",
            "description": "The total amount of players present (at the time of the snapshot).",
            "format": "uint64"
          }
        }
      },
      "Assignment2": {
        "type": "object",
        "description": "Represents an assignment given by Super Earth to the community.\nThis is also known as 'Major Order's in the game.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of this assignment.",
            "format": "int64"
          },
          "progress": {
            "type": "array",
            "description": "A list of numbers, how they represent progress is unknown.",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "title": {
            "description": "The title of the assignment.",
            "anyOf": [
              {
                "title": "String",
                "type": "string"
              },
              {
                "title": "LocalizedMessage",
                "type": "object",
                "description": "When passing in ivl-IV as Accept-Language, all available languages are returned",
                "properties": {
                  "en-US": {
                    "type": "string",
                    "description": "The message in en-US"
                  },
                  "de-DE": {
                    "type": "string",
                    "description": "The message in de-DE"
                  },
                  "es-ES": {
                    "type": "string",
                    "description": "The message in es-ES"
                  },
                  "ru-RU": {
                    "type": "string",
                    "description": "The message in ru-RU"
                  },
                  "fr-FR": {
                    "type": "string",
                    "description": "The message in fr-FR"
                  },
                  "it-IT": {
                    "type": "string",
                    "description": "The message in it-IT"
                  },
                  "pl-PL": {
                    "type": "string",
                    "description": "The message in pl-PL"
                  },
                  "zh-Hans": {
                    "type": "string",
                    "description": "The message in zh-Hans"
                  },
                  "zh-Hant": {
                    "type": "string",
                    "description": "The message in zh-Hant"
                  }
                }
              }
            ]
          },
          "briefing": {
            "description": "A long form description of the assignment, usually contains context.",
            "anyOf": [
              {
                "title": "String",
                "type": "string"
              },
              {
                "title": "LocalizedMessage",
                "type": "object",
                "description": "When passing in ivl-IV as Accept-Language, all available languages are returned",
                "properties": {
                  "en-US": {
                    "type": "string",
                    "description": "The message in en-US"
                  },
                  "de-DE": {
                    "type": "string",
                    "description": "The message in de-DE"
                  },
                  "es-ES": {
                    "type": "string",
                    "description": "The message in es-ES"
                  },
                  "ru-RU": {
                    "type": "string",
                    "description": "The message in ru-RU"
                  },
                  "fr-FR": {
                    "type": "string",
                    "description": "The message in fr-FR"
                  },
                  "it-IT": {
                    "type": "string",
                    "description": "The message in it-IT"
                  },
                  "pl-PL": {
                    "type": "string",
                    "description": "The message in pl-PL"
                  },
                  "zh-Hans": {
                    "type": "string",
                    "description": "The message in zh-Hans"
                  },
                  "zh-Hant": {
                    "type": "string",
                    "description": "The message in zh-Hant"
                  }
                }
              }
            ]
          },
          "description": {
            "description": "A very short summary of the description.",
            "anyOf": [
              {
                "title": "String",
                "type": "string"
              },
              {
                "title": "LocalizedMessage",
                "type": "object",
                "description": "When passing in ivl-IV as Accept-Language, all available languages are returned",
                "properties": {
                  "en-US": {
                    "type": "string",
                    "description": "The message in en-US"
                  },
                  "de-DE": {
                    "type": "string",
                    "description": "The message in de-DE"
                  },
                  "es-ES": {
                    "type": "string",
                    "description": "The message in es-ES"
                  },
                  "ru-RU": {
                    "type": "string",
                    "description": "The message in ru-RU"
                  },
                  "fr-FR": {
                    "type": "string",
                    "description": "The message in fr-FR"
                  },
                  "it-IT": {
                    "type": "string",
                    "description": "The message in it-IT"
                  },
                  "pl-PL": {
                    "type": "string",
                    "description": "The message in pl-PL"
                  },
                  "zh-Hans": {
                    "type": "string",
                    "description": "The message in zh-Hans"
                  },
                  "zh-Hant": {
                    "type": "string",
                    "description": "The message in zh-Hant"
                  }
                }
              }
            ]
          },
          "tasks": {
            "type": "array",
            "description": "A list of tasks that need to be completed for this assignment.",
            "items": {
              "$ref": "#/components/schemas/Task2"
            }
          },
          "reward": {
            "description": "The reward for completing the assignment.",
            "nullable": true,
            "anyOf": [
              {
                "$ref": "#/components/schemas/Reward2"
              }
            ]
          },
          "rewards": {
            "type": "array",
            "description": "A list of rewards for completing the assignment.",
            "items": {
              "$ref": "#/components/schemas/Reward2"
            }
          },
          "expiration": {
            "type": "string",
            "description": "The date when the assignment will expire.",
            "format": "date-time"
          },
          "flags": {
            "type": "integer",
            "description": "Flags regarding the assignment.",
            "format": "int32"
          }
        }
      },
      "Task2": {
        "type": "object",
        "description": "Represents a task in an Assignment that needs to be completed\nto finish the assignment. ",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "integer",
            "description": "The type of task this represents.",
            "format": "int32"
          },
          "values": {
            "type": "array",
            "description": "A list of numbers, purpose unknown.",
            "items": {
              "type": "integer",
              "format": "uint64"
            }
          },
          "valueTypes": {
            "type": "array",
            "description": "A list of numbers, purpose unknown",
            "items": {
              "type": "integer",
              "format": "uint64"
            }
          }
        }
      },
      "Reward2": {
        "type": "object",
        "description": "The reward for completing an Assignment.",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "integer",
            "description": "The type of reward (medals, super credits, ...).",
            "format": "int32"
          },
          "amount": {
            "type": "integer",
            "description": "The amount of Type that will be awarded.",
            "format": "uint64"
          }
        }
      },
      "Campaign2": {
        "type": "object",
        "description": "Represents an ongoing campaign on a planet.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of this Campaign.",
            "format": "int32"
          },
          "planet": {
            "description": "The planet on which this campaign is being fought.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Planet"
              }
            ]
          },
          "type": {
            "type": "integer",
            "description": "The type of campaign, this should be mapped onto an enum.",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "description": "Indicates how many campaigns have already been fought on this Planet.",
            "format": "uint64"
          },
          "faction": {
            "type": "string",
            "description": "The faction that is currently fighting this campaign."
          }
        }
      },
      "Planet": {
        "type": "object",
        "description": "Contains all aggregated information AH has about a planet.",
        "additionalProperties": false,
        "properties": {
          "index": {
            "type": "integer",
            "description": "The unique identifier ArrowHead assigned to this planet.",
            "format": "int32"
          },
          "name": {
            "description": "The name of the planet, as shown in game.",
            "anyOf": [
              {
                "title": "String",
                "type": "string"
              },
              {
                "title": "LocalizedMessage",
                "type": "object",
                "description": "When passing in ivl-IV as Accept-Language, all available languages are returned",
                "properties": {
                  "en-US": {
                    "type": "string",
                    "description": "The message in en-US"
                  },
                  "de-DE": {
                    "type": "string",
                    "description": "The message in de-DE"
                  },
                  "es-ES": {
                    "type": "string",
                    "description": "The message in es-ES"
                  },
                  "ru-RU": {
                    "type": "string",
                    "description": "The message in ru-RU"
                  },
                  "fr-FR": {
                    "type": "string",
                    "description": "The message in fr-FR"
                  },
                  "it-IT": {
                    "type": "string",
                    "description": "The message in it-IT"
                  },
                  "pl-PL": {
                    "type": "string",
                    "description": "The message in pl-PL"
                  },
                  "zh-Hans": {
                    "type": "string",
                    "description": "The message in zh-Hans"
                  },
                  "zh-Hant": {
                    "type": "string",
                    "description": "The message in zh-Hant"
                  }
                }
              }
            ]
          },
          "sector": {
            "type": "string",
            "description": "The name of the sector the planet is in, as shown in game."
          },
          "biome": {
            "description": "The biome this planet has.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Biome"
              }
            ]
          },
          "hazards": {
            "type": "array",
            "description": "All Hazards that are applicable to this planet.",
            "items": {
              "$ref": "#/components/schemas/Hazard"
            }
          },
          "hash": {
            "type": "integer",
            "description": "A hash assigned to the planet by ArrowHead, purpose unknown.",
            "format": "int64"
          },
          "position": {
            "description": "The coordinates of this planet on the galactic war map.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Position"
              }
            ]
          },
          "waypoints": {
            "type": "array",
            "description": "A list of Index of all the planets to which this planet is connected.",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "maxHealth": {
            "type": "integer",
            "description": "The maximum health pool of this planet.",
            "format": "int64"
          },
          "health": {
            "type": "integer",
            "description": "The current planet this planet has.",
            "format": "int64"
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether or not this planet is disabled, as assigned by ArrowHead."
          },
          "initialOwner": {
            "type": "string",
            "description": "The faction that originally owned the planet."
          },
          "currentOwner": {
            "type": "string",
            "description": "The faction that currently controls the planet."
          },
          "regenPerSecond": {
            "type": "number",
            "description": "How much the planet regenerates per second if left alone.",
            "format": "double"
          },
          "event": {
            "description": "Information on the active event ongoing on this planet, if one is active.",
            "nullable": true,
            "anyOf": [
              {
                "$ref": "#/components/schemas/Event"
              }
            ]
          },
          "statistics": {
            "description": "A set of statistics scoped to this planet.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Statistics"
              }
            ]
          },
          "attacking": {
            "type": "array",
            "description": "A list of Index integers that this planet is currently attacking.",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "regions": {
            "type": "array",
            "description": "All regions on this planet, including their status (if any).",
            "items": {
              "$ref": "#/components/schemas/Region"
            }
          }
        }
      },
      "Biome": {
        "type": "object",
        "description": "Represents information about a biome of a planet.",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of this biome."
          },
          "description": {
            "type": "string",
            "description": "A human-readable description of the biome."
          }
        }
      },
      "Hazard": {
        "type": "object",
        "description": "Describes an environmental hazard that can be present on a Planet.",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of this environmental hazard."
          },
          "description": {
            "type": "string",
            "description": "The description of the environmental hazard."
          }
        }
      },
      "Position": {
        "type": "object",
        "description": "Represents a position on the galactic war map.",
        "additionalProperties": false,
        "properties": {
          "x": {
            "type": "number",
            "description": "The X coordinate.",
            "format": "double"
          },
          "y": {
            "type": "number",
            "description": "The Y coordinate.",
            "format": "double"
          }
        }
      },
      "Event": {
        "type": "object",
        "description": "An ongoing event on a Planet.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of this event.",
            "format": "int32"
          },
          "eventType": {
            "type": "integer",
            "description": "The type of event.",
            "format": "int32"
          },
          "faction": {
            "type": "string",
            "description": "The faction that initiated the event."
          },
          "health": {
            "type": "integer",
            "description": "The health of the Event at the time of snapshot.",
            "format": "int64"
          },
          "maxHealth": {
            "type": "integer",
            "description": "The maximum health of the Event at the time of snapshot.",
            "format": "int64"
          },
          "startTime": {
            "type": "string",
            "description": "When the event started.",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "description": "When the event will end.",
            "format": "date-time"
          },
          "campaignId": {
            "type": "integer",
            "description": "The identifier of the Campaign linked to this event.",
            "format": "int32"
          },
          "jointOperationIds": {
            "type": "array",
            "description": "A list of joint operation identifier linked to this event.",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "Region": {
        "type": "object",
        "description": "A region on a planet.\n            \nThe Name and Description fields may be empty when the underlying data store doesn't contain information on them.\nThis is typically when ArrowHead adds new regions that aren't updated in the data store (helldivers-2/json) yet.\n            \nNote that some properties may be unavailable when the region is inactive.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "description": "The identifier of this region.",
            "format": "int32"
          },
          "hash": {
            "type": "integer",
            "description": "The underlying hash identifier of ArrowHead.",
            "format": "uint64"
          },
          "name": {
            "type": "string",
            "description": "The name of the region.",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "A long-form description of the region.",
            "nullable": true
          },
          "health": {
            "type": "integer",
            "description": "The current health of the region.",
            "format": "int64",
            "nullable": true
          },
          "maxHealth": {
            "type": "integer",
            "description": "The maximum health of this region.",
            "format": "uint64"
          },
          "size": {
            "type": "string",
            "description": "The size of this region.",
            "x-enumNames": [
              "Settlement",
              "Town",
              "City",
              "MegaCity"
            ],
            "enum": [
              "Settlement",
              "Town",
              "City",
              "MegaCity"
            ]
          },
          "regenPerSecond": {
            "type": "number",
            "description": "The amount of health this region generates when left alone.",
            "format": "double",
            "nullable": true
          },
          "availabilityFactor": {
            "type": "number",
            "description": "Unknown purpose.",
            "format": "double",
            "nullable": true
          },
          "isAvailable": {
            "type": "boolean",
            "description": "Whether the region is currently playable(?)."
          },
          "players": {
            "type": "integer",
            "description": "The amount of helldivers currently active in this region.",
            "format": "int64"
          }
        }
      },
      "Dispatch": {
        "type": "object",
        "description": "A message from high command to the players, usually updates on the status of the war effort.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of this dispatch.",
            "format": "int32"
          },
          "published": {
            "type": "string",
            "description": "When the dispatch was published.",
            "format": "date-time"
          },
          "type": {
            "type": "integer",
            "description": "The type of dispatch, purpose unknown.",
            "format": "int32"
          },
          "message": {
            "description": "The message this dispatch represents.",
            "anyOf": [
              {
                "title": "String",
                "type": "string"
              },
              {
                "title": "LocalizedMessage",
                "type": "object",
                "description": "When passing in ivl-IV as Accept-Language, all available languages are returned",
                "properties": {
                  "en-US": {
                    "type": "string",
                    "description": "The message in en-US"
                  },
                  "de-DE": {
                    "type": "string",
                    "description": "The message in de-DE"
                  },
                  "es-ES": {
                    "type": "string",
                    "description": "The message in es-ES"
                  },
                  "ru-RU": {
                    "type": "string",
                    "description": "The message in ru-RU"
                  },
                  "fr-FR": {
                    "type": "string",
                    "description": "The message in fr-FR"
                  },
                  "it-IT": {
                    "type": "string",
                    "description": "The message in it-IT"
                  },
                  "pl-PL": {
                    "type": "string",
                    "description": "The message in pl-PL"
                  },
                  "zh-Hans": {
                    "type": "string",
                    "description": "The message in zh-Hans"
                  },
                  "zh-Hant": {
                    "type": "string",
                    "description": "The message in zh-Hant"
                  }
                }
              }
            ]
          }
        }
      },
      "SteamNews": {
        "type": "object",
        "description": "Represents a new article from Steam's news feed.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "description": "The identifier assigned by Steam to this news item."
          },
          "title": {
            "type": "string",
            "description": "The title of the Steam news item."
          },
          "url": {
            "type": "string",
            "description": "The URL to Steam where this news item was posted."
          },
          "author": {
            "type": "string",
            "description": "The author who posted this message on Steam."
          },
          "content": {
            "type": "string",
            "description": "The message posted by Steam, currently in Steam's weird markdown format."
          },
          "publishedAt": {
            "type": "string",
            "description": "When this message was posted.",
            "format": "date-time"
          }
        }
      },
      "Dispatch2": {
        "type": "object",
        "description": "A message from high command to the players, usually updates on the status of the war effort.",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of this dispatch.",
            "format": "int32"
          },
          "published": {
            "type": "string",
            "description": "When the dispatch was published.",
            "format": "date-time"
          },
          "type": {
            "type": "integer",
            "description": "The type of dispatch, purpose unknown.",
            "format": "int32"
          },
          "message": {
            "description": "The message this dispatch represents.",
            "anyOf": [
              {
                "title": "String",
                "type": "string"
              },
              {
                "title": "LocalizedMessage",
                "type": "object",
                "description": "When passing in ivl-IV as Accept-Language, all available languages are returned",
                "properties": {
                  "en-US": {
                    "type": "string",
                    "description": "The message in en-US"
                  },
                  "de-DE": {
                    "type": "string",
                    "description": "The message in de-DE"
                  },
                  "es-ES": {
                    "type": "string",
                    "description": "The message in es-ES"
                  },
                  "ru-RU": {
                    "type": "string",
                    "description": "The message in ru-RU"
                  },
                  "fr-FR": {
                    "type": "string",
                    "description": "The message in fr-FR"
                  },
                  "it-IT": {
                    "type": "string",
                    "description": "The message in it-IT"
                  },
                  "pl-PL": {
                    "type": "string",
                    "description": "The message in pl-PL"
                  },
                  "zh-Hans": {
                    "type": "string",
                    "description": "The message in zh-Hans"
                  },
                  "zh-Hant": {
                    "type": "string",
                    "description": "The message in zh-Hant"
                  }
                }
              }
            ]
          }
        }
      },
      "SpaceStation": {
        "type": "object",
        "description": "Represents a Super Earth Democracy Space Station.",
        "additionalProperties": false,
        "properties": {
          "id32": {
            "type": "integer",
            "description": "The unique identifier of the station.",
            "format": "int64"
          },
          "planet": {
            "description": "The planet it's currently orbiting.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Planet"
              }
            ]
          },
          "electionEnd": {
            "type": "string",
            "description": "When the election for the next planet will end.",
            "format": "date-time"
          },
          "flags": {
            "type": "integer",
            "description": "A set of flags, purpose currently unknown.",
            "format": "int32"
          },
          "tacticalActions": {
            "type": "array",
            "description": "A list of tactical actions the space station supports.",
            "items": {
              "$ref": "#/components/schemas/TacticalAction"
            }
          }
        }
      },
      "TacticalAction": {
        "type": "object",
        "description": "Represents a tactical action that the Space Station can take.",
        "additionalProperties": false,
        "properties": {
          "id32": {
            "type": "integer",
            "format": "int64"
          },
          "mediaId32": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "strategicDescription": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "statusExpire": {
            "type": "string",
            "format": "date-time"
          },
          "costs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cost"
            }
          },
          "effectIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "Cost": {
        "type": "object",
        "description": "Represents the \"Cost\" of a tactical action",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "itemMixId": {
            "type": "integer",
            "format": "int64"
          },
          "targetValue": {
            "type": "integer",
            "format": "int64"
          },
          "currentValue": {
            "type": "number",
            "format": "double"
          },
          "deltaPerSecond": {
            "type": "number",
            "format": "double"
          },
          "maxDonationAmmount": {
            "type": "integer",
            "format": "int64"
          },
          "maxDonationPeriodSeconds": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "securitySchemes": {
      "X-Super-Client": {
        "type": "apiKey",
        "description": "A unique name that identifies your client to the API.",
        "name": "X-Super-Client",
        "in": "header"
      },
      "X-Super-Contact": {
        "type": "apiKey",
        "description": "Contact information for the developer (e.g. an email address or URL).",
        "name": "X-Super-Contact",
        "in": "header"
      },
      "Bearer": {
        "type": "http",
        "description": "A JWT bearer token for authenticated access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}